body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho Pro";
}

/* ヘッダー */
header {
  background-color: #3b82c4;
  letter-spacing: 10px;
  color: white;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.title {
  padding-top: 20px;
  font-size: 25px;
}

/* メインフォーム　全体　*/
main {
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-top: 30px;
}
#mainarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table.mainTable {
  background: none;
  margin: auto;
  width: 650px;
  height: 750px;
  padding-top: 0;
  padding-bottom: 0;
}
td {
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-bottom: none;
}

/* メインフォーム　左側　*/
.yourname,
.fromwho,
.fromname,
.adress,
.to,
.how {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-top: 1px solid #bfbfbf;
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
  width: 240px;
}
.reson {
  text-align: left;
  vertical-align: top;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: auto;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  border-left: none;
  border-right: none;
  font-size: 16px;
}

/* メインフォーム　右側　*/
#yourNameOption {
  justify-content: center;
  font-size: 16px;
  height: 25px;
  width: 280px;
  margin-top: 10px;
  margin-left: 10px;
}
#fromWhoOption {
  justify-content: center;
  font-size: 16px;
  height: 25px;
  width: 280px;
  margin-top: 10px;
  margin-left: 10px;
}
#howTo {
  justify-content: center;
  font-size: 16px;
  height: 25px;
  width: 280px;
  margin-top: 10px;
  margin-left: 10px;
}
#textBoxName,
#textBoxTell,
#textBoxTo {
  justify-content: center;
  margin-top: 9px;
  padding-top: auto;
  padding-bottom: auto;
  font-size: 12pt;
  height: 25px;
  width: 280px;
  margin-left: 10px;
}
#message {
  justify-content: center;
  height: 100px;
  width: 280px;
  margin-top: 0;
  margin-left: 10px;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}
#textroom {
  justify-content: center;
  height: 150px;
  width: 280px;
  margin-top: 0;
  margin-left: 10px;
  border-left: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

/* 登録、クリアボタン　*/
ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  border: 1px solid #666;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  width: 25%;
}

li:hover {
  background: #f5a500;
  color: #fff;
}

/* 内容入力ボックス　*/
textarea {
  font-size: 16px;
  box-shadow: 1px 1px 1px 1px #555;
}

/*   履歴の表示　*/
.show {
  background-color: blanchedalmond;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 50%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.sender,
.dateshow {
  font-weight: bold;
  border-radius: 7px;
  max-width: 50%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
